* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00d1b2;
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}

.full-page {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo {
  margin-top: 12px;
  margin-bottom: 24px;
}

.navbar {
  box-shadow: 0 4px 10px #00927c;
}

.form-row {
  margin-bottom: 18px;
}

label {
  margin-bottom: 6px;
}

input[type='text'],
input[type='tel'],
input[type='email'] {
  border: 0;
  margin-top: 6px;
  display: block;
  width: 260px;
  height: 35px;
  background-color: #f0f4f8;
  font-size: 16px;
  padding-left: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px #00927c;
}

button {
  border: 0;
  background-color: #102a43;
  width: 260px;
  height: 50px;
  color: #00d1b2;
  font-size: 16px;
  box-shadow: 0 4px 6px #00927c;
  border-radius: 8px;
  font-family: 'Kanit', sans-serif;
}

button:disabled {
  border: 0;
  background-color: #102a43;
  width: 260px;
  height: 50px;
  color: #00d1b2;
  font-size: 16px;
  box-shadow: 0 4px 6px #00927c;
}

.location {
  display: flex;
  margin-bottom: 18px;
}

.centerMapButton {
  background-color: transparent;
  position: absolute;
  margin-top: 6px;
  margin-left: 235px;
  box-shadow: 0 0px 0px #00927c;
  color: white;
}

textarea {
  padding: 8px;
  border: 0;
  width: 260px;
  height: 190px;
  margin-top: 6px;
  display: block;
  font-size: 14px;
  background-color: #f0f4f8;
  resize: none;
  font-family: inherit;
  border-radius: 8px;
  box-shadow: 0 0 10px #00927c;
}

textarea::placeholder {
  color: #f86a6a;
  opacity: 75%;
}

.submit-row {
  margin-top: 24px;
  margin-bottom: 12px;
}

select,
.datalist {
  margin-top: 6px;
  height: 35px;
  width: 260px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px #00927c;
  font-size: 16px;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../images/arrow_drop_down.svg) no-repeat right white;
  padding-left: 8px;
}

.qr-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  background-color: transparent;
}

.table-content {
  width: 90%;
}

.my-table-container {
  padding: 1.5rem;
  border: 2px solid #00927c;
  background-color: #ebfffc;
  border-radius: 8px;
  box-shadow: 0 0 10px #00927c;
}

.verify-button {
  font-size: 0.75rem;
  width: 180px;
  border-radius: 5%;
}

.modal-text:first-child {
  padding: 0;
}

.modal-text:last-child {
  padding: 0;
}

.modal-text {
  padding: 5px 0;
}

.table th:not([align]) {
  text-align: center;
}

table td:not([align]),
table th:not([align]) {
  text-align: center;
}

a.disabled {
  color: #363636;
  pointer-events: none;
  cursor: default;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  margin: auto;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.keyboard {
  height: calc(100vh + 600px);
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: #00d1b2;
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

input.dealer-location-input {
  width: 230px;
}
