* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bcccdc;
  font-family: 'Sarabun', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 12px;
  margin-bottom: 24px;
}

.form-row {
  margin-bottom: 18px;
}

label {
  margin-bottom: 6px;
}

input[type='text'],
input[type='tel'],
input[type='email'] {
  border: 0;
  margin-top: 6px;
  display: block;
  width: 260px;
  height: 35px;
  background-color: #f0f4f8;
  font-size: 16px;
  padding-left: 8px;
}

button {
  border: 0;
  background-color: #102a43;
  width: 260px;
  height: 50px;
  color: #f0f4f8;
  font-size: 16px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

textarea {
  padding: 8px;
  border: 0;
  width: 260px;
  height: 190px;
  margin-top: 6px;
  display: block;
  font-size: 14px;
  background-color: #f0f4f8;
  resize: none;
  font-family: inherit;
}

textarea::placeholder {
  color: #f86a6a;
  opacity: 75%;
}

.submit-row {
  margin-top: 24px;
  margin-bottom: 12px;
}

select {
  margin-top: 6px;
  height: 35px;
  width: 260px;
  border: none;
  font-size: 16px;
  display: block;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: url(../images/arrow_drop_down.svg) no-repeat right white;
  padding-left: 8px;
}

.qr-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-content {
  width: 90%;
}

table {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 4px solid #627d98;
  border-radius: 13px;
  border-spacing: 0;
  width: 100%;
}

th {
  color: #0e7c86;
}

th,
td {
  border-bottom: 4px solid #bcccdc;
  padding: 20px 10px;
}

tr:last-child > td {
  border-bottom: none;
}

.verify-button {
  font-size: 0.75rem;
  width: 180px;
  border-radius: 5%;
}
