* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9e2ec;
  font-family: 'Kanit', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 12px;
  margin-bottom: 24px;
}

.form-row {
  margin-bottom: 18px;
}

label {
  margin-bottom: 6px;
}

input[type='text'],
input[type='tel'],
input[type='email'] {
  border: 0;
  margin-top: 6px;
  display: block;
  width: 260px;
  height: 35px;
  background-color: #f0f4f8;
  font-size: 16px;
  padding-left: 8px;
}

button {
  font-family: 'Kanit', sans-serif;
  border: 0;
  background-color: #e0fcff;
  border-radius: 16px;
  width: 70%;
  height: 50px;
  color: #486581;
  font-size: 16px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

textarea {
  padding: 8px;
  border: 0;
  width: 260px;
  height: 190px;
  margin-top: 6px;
  display: block;
  font-size: 14px;
  background-color: #f0f4f8;
  resize: none;
  font-family: inherit;
}

textarea::placeholder {
  color: #f86a6a;
  opacity: 75%;
}

.submit-row {
  margin-top: 24px;
  margin-bottom: 12px;
}

select {
  margin-top: 6px;
  height: 35px;
  width: 260px;
  border: none;
  font-size: 16px;
  display: block;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: url(../images/arrow_drop_down.svg) no-repeat right white;
  padding-left: 8px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  margin-top: 6px;
}

.checkbox-container label {
  font-size: 14px;
  margin-left: 4px;
  margin-bottom: 3px;
}

.checkbox-row {
  display: flex;
  align-items: center;
}

.qr-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 4px solid #627d98;
  border-radius: 13px;
  border-spacing: 0;
  width: 100%;
}

th {
  color: #0e7c86;
}

th,
td {
  border-bottom: 4px solid #bcccdc;
  padding: 20px 10px;
}

tr:last-child > td {
  border-bottom: none;
}

/* Style the buttons that are used to open the tab content */
.tab {
  width: 80%;
  justify-content: center;
  display: flex;
}

.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #38bec9;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #2cb1bc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  color: #243b53;
  display: flex;
  padding: 20px 20px;
  height: 100%;
  width: 90%;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Style tab links */
.tablinks {
  background-color: #e0fcff;
  color: #044e54;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 45%;
  margin: 10px;
}

.tablinks:hover {
  background-color: #777;
}
