* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0F4F8;
  font-family: "Sarabun", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 12px;
  margin-bottom: 24px;
}

.form-row {
  margin-bottom: 18px;
}

label {
  margin-bottom: 6px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  border: 0;
  margin-top: 6px;
  display: block;
  width: 260px;
  height: 35px;
  background-color: #f0f4f8;
  font-size: 16px;
  padding-left: 8px;
}

button {
  border: 0;
  background-color: #0A6C74;
  width: 260px;
  height: 50px;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 5px hsla(0, 0%, 0%, 0.2);
}

textarea {
  padding: 8px;
  border: 0;
  width: 260px;
  height: 190px;
  margin-top: 6px;
  display: block;
  font-size: 14px;
  background-color: #f0f4f8;
  resize: none;
  font-family: inherit;
}

textarea::placeholder {
  color: #f86a6a;
  opacity: 75%;
}

.submit-row {
  margin-top: 24px;
  margin-bottom: 12px;
}

select {
  margin-top: 6px;
  height: 35px;
  width: 260px;
  border: none;
  font-size: 16px;
  display: block;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: url(images/arrow_drop_down.svg) no-repeat right white;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  margin-top: 6px;
}

.checkbox-container label {
  font-size: 14px;
}

table {
  text-align: center;
  border: 1px solid grey;
  border-radius: 13px;
  border-spacing: 0;
  width: 100%;
}

th, td {
  border-bottom: 1px solid black;
  padding: 10px;
}

tr:last-child > td {
  border-bottom: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  color: black;
  display: flex;
  padding: 20px 20px;
  height: 100%;
  width: 100%;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Style tab links */
.tablinks {
  background-color: #555;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablinks:hover {
  background-color: #777;
}
